@tailwind base;
@tailwind components;
@tailwind utilities;

span + span {
  margin-left: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 80%, 82%);
}
